stages:
  - build
  - test
  - deploy

build:gcc:
  stage: build
  image: registry.gitlab.inria.fr/pallas/pallas:latest
  tags: ['linux', 'small']
  variables:
    CC: "gcc"
    CXX: "g++"
    OMPI_CC: "gcc"
    OMPI_CXX: "g++"
  script:
    # Build Pallas
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DENABLE_PYTHON=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=gcc
    - make

build:clang:
  image: registry.gitlab.inria.fr/pallas/pallas:latest
  tags: ['linux', 'small']
  stage: build
  variables:
     CC: "clang"
     CXX: "clang++"
     OMPI_CC: "clang"
     OMPI_CXX: "clang++"
  script:
    # Build Pallas
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DENABLE_PYTHON=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=clang
    - make

build:intel-oneapi:
  image: registry.gitlab.inria.fr/pallas/pallas/intel:latest
  tags: ['linux', 'large_more_disk']
  stage: build
  only:
    - main
  variables:
    CC: "icx"
    CXX: "icpx"
    OMPI_CC: "icx"
    OMPI_CXX: "icpx"
  script:
    # Build Pallas
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=icx
    - make

test:gcc:
  image: registry.gitlab.inria.fr/pallas/pallas:latest
  tags: ['linux', 'small']
  stage: test
  variables:
    CC: "gcc"
    CXX: "g++"
    OMPI_CC: "gcc"
    OMPI_CXX: "g++"
  dependencies:
  - build:gcc
  script:
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DENABLE_PYTHON=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=gcc
    - make install
    - cd test
    - ctest --output-on-failure
  artifacts:
    paths:
    - $CI_PROJECT_DIR/build

test:clang:
  image: registry.gitlab.inria.fr/pallas/pallas:latest
  tags: ['linux', 'small']
  stage: test
  variables:
    CC: "clang"
    CXX: "clang++"
    OMPI_CC: "clang"
    OMPI_CXX: "clang++"
  dependencies:
    - build:clang
  script:
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DENABLE_PYTHON=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=clang
    - make install
    - cd test
    - ctest --output-on-failure
  artifacts:
    paths:
      - $CI_PROJECT_DIR/build

test:intel-oneapi:
  image: registry.gitlab.inria.fr/pallas/pallas/intel:latest
  tags: ['linux', 'large_more_disk']
  stage: test
  only:
    - none
  variables:
    CC: "icx"
    CXX: "icpx"
    OMPI_CC: "icx"
    OMPI_CXX: "icpx"
  dependencies:
    - build:intel-oneapi

  script:
    - mkdir build
    - cd build/
    - cmake .. -DENABLE_OTF2=ON -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/pallas -DCMAKE_C_COMPILER=icx
    - make install
    - cd test
    - ctest --output-on-failure
  artifacts:
    paths:
      - $CI_PROJECT_DIR/build

deploy:pages:
  stage: deploy
  image: registry.gitlab.inria.fr/pallas/pallas:latest
  tags: ['linux', 'small']
  script:
    - mkdir build_doc
    - cd build_doc
    - cmake ..
    - make pallas_doc
    - cd ..
    - cp -r build_doc/libraries/pallas/doc/html docs/06-api-reference/01-c-cxx
    - cp -r docs/. public/
  only:
    - main
  pages: true
  artifacts:
    paths:
      - public

#deploy:docker:
#  stage: deploy
#  image: docker
#  services:
#    - name: docker:dind
#      alias: thedockerhost
#
#  variables:
#    # Tell docker CLI how to talk to Docker daemon; see
#    # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-executor
#    DOCKER_HOST: tcp://thedockerhost:2375/
#    # Use the overlays driver for improved performance:
#    DOCKER_DRIVER: overlay2
#    DOCKER_TLS_CERTDIR: ""
#  tags: ['noname']
#  only:
#    - main
#  script:
#    - cd docker
#    - docker login registry.gitlab.inria.fr -u pallas -p $DOCKER_TOKEN
#    - docker build -t registry.gitlab.inria.fr/pallas/pallas/eztrace_example -f Dockerfile_eztrace_pallas .
#    - docker push registry.gitlab.inria.fr/pallas/pallas/eztrace_example
