# ====================================
#     gitignore - whitelist
# ====================================

*
!*/

# -- meta --
!.gitignore
!pyproject.toml
!pyrightconfig.json

# -- docs --
!README.md
!LICENSE
!requirements.txt
!examples/*.png
!architecture.md

# -- src files --
!*.py
!blup
